{% extends "base.html" %}
{% load static %}

{% block title %}Телефон{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>{{ phone.name }}</h1>
            <img src="{{ phone.image }}" alt="Ошибка загрузки изображения">
            <p class="price">{{ pnohe.price }}</p>
            <p>Дата релиза: {{ phone.release_date }}</p>
            {% if phone.lte_exists %}
                <p>LTE: Поддерживается</p>
            {% endif %}
            {% if phone.lte_exists == False %}
                <p>LTE: Не поддерживается</p>
            {% endif %}
        </div>
        <div class="content">

        </div>
    </div>
{% endblock %}